<ul class="topic-post-list">
  {% for article in include.articles %}
    <li class="topic-post-row" data-article-key="{{ article.translation_key | escape }}" data-article-date="{{ article.date | date_to_xmlschema }}"{% if article.series_order %} data-series-order="{{ article.series_order }}"{% endif %} data-post-languages="{{ article.languages | join: ' ' }}">
      <div class="topic-post-heading">
        {% if include.series_part %}<h4>{% else %}<h3>{% endif %}
          {% for version in article.versions %}
            <span data-post-title-language="{{ version.lang }}" lang="{{ version.lang }}"{% if version.lang != article.primary_language %} hidden{% endif %}><a class="topic-title-link" href="{{ version.url | relative_url }}" hreflang="{{ version.lang }}">{{ version.title | escape }}</a></span>
          {% endfor %}
        {% if include.series_part %}</h4>{% else %}</h3>{% endif %}
        <time datetime="{{ article.date | date_to_xmlschema }}">{{ article.date | date: '%Y.%m.%d' }}</time>
      </div>
      <div class="topic-language-links">
        {% for version in article.versions %}
          <a href="{{ version.url | relative_url }}" data-post-language="{{ version.lang }}" lang="en" hreflang="{{ version.lang }}" aria-label="Read this article in {% if version.lang == 'ko' %}Korean{% else %}English{% endif %}">{% if version.lang == 'ko' %}Korean{% else %}English{% endif %} <i class="fas fa-arrow-up-right-from-square" aria-hidden="true"></i></a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
